@import url('https://fonts.googleapis.com/earlyaccess/nanumgothic.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800');
@import url('style.css');

@font-face {
 font-family: 'Nanum Square';
 src: url(../fonts/NanumSquare/NanumSquareR.eot);
 src: url(../fonts/NanumSquare/NanumSquareR.eot?#iefix) format('embedded-opentype'),
      url(../fonts/NanumSquare/NanumSquareR.woff) format('woff'),
      url(../fonts/NanumSquare/NanumSquareR.ttf) format('truetype');
}
